<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/dell/IdeaProjects/mavenTest/src/test/java/Demo_Test/Eckhotrack_WithTestNG.java">
        
        <classes>
        <class name="Demo_Test.Eckhotrack_WithTestNG"></class>     

        </classes>
        
    </test>
</suite>